<!-- 5. output the animalType string, pet boolean and fierceness number to the page for all the pets -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{{ title }}}</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>
